[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
regex = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
pandas = "*"
ipykernel = "*"
prefect = {extras = ["viz"], version = "*"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
